### Appwrite
APPWRITE_ENDPOINT=
APPWRITE_PROJECT_ID=
APPWRITE_API_KEY=
APPWRITE_DATABASE_ID=
APPWRITE_FILES_BUCKET_ID=

APPWRITE_USERS_COL_ID=
APPWRITE_NOTES_COL_ID=
APPWRITE_PAYMENTS_COL_ID=payments
APPWRITE_SUBSCRIPTIONS_COL_ID=subscriptions
APPWRITE_PLANS_COL_ID=plans
APPWRITE_CHAPTERS_COL_ID=
APPWRITE_QUOTES_COL_ID=
APPWRITE_FEEDBACK_COL_ID=
APPWRITE_PHRASE_COL_ID=
APPWRITE_VIDEO_COL_ID=
APPWRITE_READ_COL_ID=
APPWRITE_PUSH_TOKEN_COL_ID=
APPWRITE_CREDIT_HISTORY_COL_ID=
APPWRITE_EXAM_COL_ID=

### Paystack
PAYSTACK_SECRET_KEY=
PAYSTACK_BASE_URL=https://api.paystack.co

### Flutterwave
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_BASE_URL=https://api.flutterwave.com

### Flask
FLASK_ENV=production

